[submodule "xtdlib"]
	path = xtdlib
	url = https://github.com/grant-tm/xtdlib
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Nuklear"]
	path = Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "clay"]
	path = clay
	url = https://github.com/nicbarker/clay.git
